<a href="https://colab.research.google.com/github/tgalbaugh/Class1_data_1_checks/blob/main/Data_2_KC_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Your Instructions:

To complete the first knowledge check, do the following: 

1. Create a GitHub repo called "data_1_checks". You will upload ALL knowledge checks to this repo in the future.
2. Send that link to your mentor so they can check it when you finish the assignment. 
3. Make a .py (or .ipynb) file that contains the following (your choice of editor does not matter!) and do the following: 
- Pull in data from an API. Here's a list of public APIs that don't require Auth keys, though if you have another API you want to use feel free: https://apipheny.io/free-api/
- Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information. 
- Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.
- Select and print the SECOND AND THIRD columns of your data frame.
- Select and print the FIRST 4 rows of you data frame.
4. Commit your changes.
5. Push your changes to your repo and notify your mentor!


---

This project will test your knowledge of pulling in data from an API then doing some quick manipulation and calculation using pandas.

In [35]:
import requests
import pandas as pd 
import pandasql as ps

I will be the first to admit I'm not an expert at working with APIs, so I had to fiddle with this to get it to work. However, most APIs will return a JSON object, so I had to pull the 'entries' field from that then feed that into the DataFrame. Sometimes you can just use pd.read_json() but that didn't work in this case.

In [37]:
r = requests.get('https://datausa.io/api/data?drilldowns=State&measures=Population')
data = r.json()['data']
df = pd.DataFrame(data=data)
df = ps.sqldf("select State,Year,Population from df")
df

             State  Year  Population
0          Alabama  2020     4893186
1           Alaska  2020      736990
2          Arizona  2020     7174064
3         Arkansas  2020     3011873
4       California  2020    39346023
..             ...   ...         ...
411     Washington  2013     6819579
412  West Virginia  2013     1853619
413      Wisconsin  2013     5706871
414        Wyoming  2013      570134
415    Puerto Rico  2013     3682966

[416 rows x 3 columns]

The ```df.describe()``` function can be handy to get a quick view at what your dataset looks like. This is text data, but it will calculate basic descriptive statistics if you have numeric data. It looks like the "top" API from this dataset is SWAPI, which is the Star Wars API. If you're validating your data for unique values, you might look at the **count** and **unique** values under ```Link``` which appears to tell us that all of the links are unique and appear once.

In [38]:
df.describe()

         Population
count  4.160000e+02
mean   6.210951e+06
std    7.014264e+06
min    5.701340e+05
25%    1.794161e+06
50%    4.268840e+06
75%    6.956380e+06
max    3.934602e+07

Here, ```df.shape``` tells us the number of rows and the number of columns. We already have two descriptive pieces of data about our data set, see how easy that is?

In [39]:
df.shape

(416, 3)

Here's a basic way to select things from a dataframe. To be honest, this is the only way I can reliably remember how to do this, which is by using what's called a mask. You can read more [here](https://jakevdp.github.io/PythonDataScienceHandbook/02.06-boolean-arrays-and-masks.html) if you want, or you can use ```df.query()```. Below, I just want to see everything in the DataFrame that has the category "Email".

If you know SQL, this is how you would write the equivalent SQL statement. If not, it will come up later in the course. The SQL syntax is easier to remember for me, but either option works!

```
SELECT * 
FROM df 
WHERE Category = 'Email'
```

In [40]:
df[df['State'] == 'Kentucky']

        State  Year  Population
17   Kentucky  2020     4461952
69   Kentucky  2019     4449052
121  Kentucky  2018     4440204
173  Kentucky  2017     4424376
225  Kentucky  2016     4411989
277  Kentucky  2015     4397353
329  Kentucky  2014     4383272
381  Kentucky  2013     4361333

There are more ways to select and subselect data in Pandas than I could write about here. I just want you to attempt to pull a few random columns and a few rows.

In [41]:
df[['State','Year']].head()

        State  Year
0     Alabama  2020
1      Alaska  2020
2     Arizona  2020
3    Arkansas  2020
4  California  2020

In [ ]:
df.iloc[4:10]

,API,Description,Auth,HTTPS,Cors,Link,Category
4,Cats,Pictures of cats from Tumblr,apiKey,True,no,https://docs.thecatapi.com/,Animals
5,Dog Facts,Random dog facts,,True,yes,https://dukengn.github.io/Dog-facts-API/,Animals
6,Dog Facts,Random facts of Dogs,,True,yes,https://kinduff.github.io/dog-api/,Animals
7,Dogs,Based on the Stanford Dogs Dataset,,True,yes,https://dog.ceo/dog-api/,Animals
8,eBird,Retrieve recent or notable birding observation...,apiKey,True,no,https://documenter.getpostman.com/view/664302/...,Animals
9,FishWatch,Information and pictures about individual fish...,,True,yes,https://www.fishwatch.gov/developers,Animals